header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 16px;
	height: 60px;
	border-bottom: 1px solid #e2e8f0;
	padding: 0 16px;
	background-color: #fff;
}

.search {
	flex: 1;
	background-color: #edf2f7;
	padding: 8px;
	max-height: 36px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.search input {
	border: none;
	background-color: transparent;
	outline: none;
	flex: 1;

	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #718096;
}

header .text {
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #4a5568;
}

.header-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
    color: #4A5568;
    cursor: pointer;
}
