body {
    background-color: #fff;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.container {
    margin-top: 60px;
    background-color: #fff;
    display: flex;
}

.sidemenu {
    width: 240px;
    height: 100vh;
    max-height: calc(100vh - 60px);
    border-right: 1px solid #e2e8f0;
    background-color: #fff;
    position: fixed;
    overflow-y: scroll;
    scrollbar-width: none;

}

main {
    position: relative;
    left: 240px;
    width: calc(100% - 240px);
    min-height: 2400px;
}